<a href="https://colab.research.google.com/github/highlandnate2005-ui/MIS2800/blob/main/Highland_IC2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Filtering and Sorting with SQLite Magic

In [ ]:
!pip install --upgrade pandas ipython-sql prettytable==3.10.1
# lines of code will run below for the installation
# an error will show at the end - that's expected and okay. You can ignore it.

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Collecting pandas
  Downloading pandas-3.0.0-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.5/79.5 kB 2.3 MB/s eta 0:00:00
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.5.0)
Collecting prettytable==3.10.1
  Downloading prettytable-3.10.1-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable==3.10.1) (0.5.0)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (2.0.46)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (75.2.0)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Downloading prettytable-3.10.1-py3-none-any.whl (28 kB)
Downloading pandas-3.0.0-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (10.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.9/10.9 MB 40.8 MB/s eta 0:00:00
Downloading jedi-0.19.2-py2.py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 49.8 MB/s eta 0:00:00
Installing collected packages: prettytable, jedi, pandas
  Attempting uninstall: prettytable
    Found existing installation: prettytable 3.17.0
    Uninstalling prettytable-3.17.0:
      Successfully uninstalled prettytable-3.17.0
  Attempting uninstall: pandas
    Found existing installation: pandas 2.2.2
    Uninstalling pandas-2.2.2:
      Successfully uninstalled pandas-2.2.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas==2.2.2, but you have pandas 3.0.0 which is incompatible.
gradio 5.50.0 requires pandas<3.0,>=1.0, but you have pandas 3.0.0 which is incompatible.
bqplot 0.12.45 requires pandas<3.0.0,>=1.0.0, but you have pandas 3.0.0 which is incompatible.
db-dtypes 1.5.0 requires pandas<3.0.0,>=1.5.3, but you have pandas 3.0.0 which is incompatible.
Successfully installed jedi-0.19.2 pandas-3.0.0 prettytable-3.10.1

In [ ]:
# Install the SQL extension (not in sources, but required for magics)
!pip install ipython-sql
print("ipython sql installed")
# lines of code will run below for the installation

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (3.10.1)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (2.0.46)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable->ipython-sql) (0.5.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
ipython sql installed

In [ ]:
# Load the SQL magic extension
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
import sqlite3
print("sqlite3 imported")

sqlite3 imported

In [ ]:
# This creates a brand-new, empty database file named 'SuperBowlMarketing2026.db'
conn = sqlite3.connect('SuperBowlMarketing2026.db')
print("database created")

database created

In [ ]:
%sql sqlite:///SuperBowlMarketing2026.db

In [ ]:
# create a table called Marketing_Brands
%%sql
CREATE TABLE Marketing_Brands (
  brand_id INTEGER PRIMARY KEY,
  brand_name TEXT,
  brand_type TEXT,
  brand_budget INTEGER
) STRICT;

 * sqlite:///SuperBowlMarketing2026.db
(sqlite3.OperationalError) table Marketing_Brands already exists
[SQL: CREATE TABLE Marketing_Brands (
  brand_id INTEGER PRIMARY KEY,
  brand_name TEXT,
  brand_type TEXT,
  brand_budget INTEGER
) STRICT;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
# create a table called Marketing_Brands
%%sql
INSERT INTO Marketing_Brands (brand_id, brand_name, brand_type, brand_budget)
VALUES
  (1, 'Doritos', 'Snacks', 7000000),
  (2, 'AWS', 'Technology', 15000000),
  (3, 'Pepsi', 'Beverages', 2000000),
  (4, 'He_Gets_Us', 'Religious', 1000000),
  (5, 'Dr_Pepper', 'Beverages', 5000000),
  (6, 'IBM', 'Technology', 100000),
  (7, 'Google', 'Technology', 8000000);

 * sqlite:///SuperBowlMarketing2026.db
(sqlite3.IntegrityError) UNIQUE constraint failed: Marketing_Brands.brand_id
[SQL: INSERT INTO Marketing_Brands (brand_id, brand_name, brand_type, brand_budget)
VALUES
  (1, 'Doritos', 'Snacks', 7000000),
  (2, 'AWS', 'Technology', 15000000),
  (3, 'Pepsi', 'Beverages', 2000000),
  (4, 'He_Gets_Us', 'Religious', 1000000),
  (5, 'Dr_Pepper', 'Beverages', 5000000),
  (6, 'IBM', 'Technology', 100000),
  (7, 'Google', 'Technology', 8000000);]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [ ]:
%%sql
-- comments can be added by using the -- before the comment. notice that This is after the %%sql Magic
SELECT * FROM Marketing_Brands;

 * sqlite:///SuperBowlMarketing2026.db
Done.

[(1, 'Doritos', 'Snacks', 7000000),
 (2, 'AWS', 'Technology', 15000000),
 (3, 'Pepsi', 'Beverages', 2000000),
 (4, 'He_Gets_Us', 'Religious', 1000000),
 (5, 'Dr_Pepper', 'Beverages', 5000000),
 (6, 'IBM', 'Technology', 100000),
 (7, 'Google', 'Technology', 8000000)]

# IC - All Together

In [ ]:
# find the brands that had budget over 700000
%%sql
SELECT * FROM Marketing_Brands WHERE brand_budget > 700000;

 * sqlite:///SuperBowlMarketing2026.db
Done.

[(1, 'Doritos', 'Snacks', 7000000),
 (2, 'AWS', 'Technology', 15000000),
 (3, 'Pepsi', 'Beverages', 2000000),
 (4, 'He_Gets_Us', 'Religious', 1000000),
 (5, 'Dr_Pepper', 'Beverages', 5000000),
 (7, 'Google', 'Technology', 8000000)]

In [ ]:
#  find the brands that are Technology and have budget under 1000000
%%sql
SELECT * FROM Marketing_Brands WHERE brand_type = 'Technology' AND brand_budget < 1000000

 * sqlite:///SuperBowlMarketing2026.db
Done.

[(6, 'IBM', 'Technology', 100000)]

In [ ]:
# find the brands that are Snacks OR Beverages and have a budget over 5000000
%%sql
SELECT * FROM Marketing_Brands WHERE brand_type = 'Snacks' OR brand_type = 'Beverages' AND brand_budget > 5000000

 * sqlite:///SuperBowlMarketing2026.db
Done.

[(1, 'Doritos', 'Snacks', 7000000)]

# IC - On Your Own


# 1. The "Big Spenders" Filter
In marketing, we often focus on the "Tier 1" advertisers. These are the brands that set the tone for the broadcast.

The Task: Filter the table to show only brands with a budget of $7,000,000 or more.

The Goal: Identify which brands have enough "firepower" to afford a standard 30-second primetime slot.

In [ ]:
%%sql
SELECT * FROM Marketing_Brands WHERE brand_budget >= 7000000
-- find the brands with a budget of 7,000,000 or more

 * sqlite:///SuperBowlMarketing2026.db
Done.

[(1, 'Doritos', 'Snacks', 7000000),
 (2, 'AWS', 'Technology', 15000000),
 (7, 'Google', 'Technology', 8000000)]

# 2. Industry Deep-Dive: Beverages
Often, an analyst is assigned to a specific "vertical" or industry to monitor the competition.

The Task: Filter the table to show only brands where the brand_type is 'Beverages'.

The Goal: Quickly see the competitive landscape for drinks (Pepsi vs. Dr Pepper) without the noise of tech or snacks.

In [ ]:
%%sql
SELECT * FROM Marketing_Brands WHERE brand_type = 'Beverages'
--find the brands where the brand type is Beverages

 * sqlite:///SuperBowlMarketing2026.db
Done.

[(3, 'Pepsi', 'Beverages', 2000000), (5, 'Dr_Pepper', 'Beverages', 5000000)]

# 3. Budget Hierarchy (Descending Sort)


When presenting to stakeholders, you usually want to show the most important data (the highest costs) at the very top.

The Task: Sort the entire table by brand_budget in descending order (highest to lowest).

The Goal: Create a "Leaderboard" of spenders so you can instantly see that AWS is leading the pack.

In [ ]:
%%sql
SELECT * FROM Marketing_Brands ORDER BY brand_budget DESC
-- sort the table by brand budget in DESC order

 * sqlite:///SuperBowlMarketing2026.db
Done.

[(2, 'AWS', 'Technology', 15000000),
 (7, 'Google', 'Technology', 8000000),
 (1, 'Doritos', 'Snacks', 7000000),
 (5, 'Dr_Pepper', 'Beverages', 5000000),
 (3, 'Pepsi', 'Beverages', 2000000),
 (4, 'He_Gets_Us', 'Religious', 1000000),
 (6, 'IBM', 'Technology', 100000)]

# 4. Alphabetical Brand Audit
For documentation and clean reporting, sometimes a simple alphabetical list is required to ensure no one was missed.

The Task: Sort the table by brand_name in ascending order (A-Z).

The Goal: Organize the list logically for a status report or a brand-check spreadsheet.

In [ ]:
%%sql
SELECT * FROM Marketing_Brands ORDER BY brand_name ASC
--sort the table by brand_name in ASC order

 * sqlite:///SuperBowlMarketing2026.db
Done.

[(2, 'AWS', 'Technology', 15000000),
 (1, 'Doritos', 'Snacks', 7000000),
 (5, 'Dr_Pepper', 'Beverages', 5000000),
 (7, 'Google', 'Technology', 8000000),
 (4, 'He_Gets_Us', 'Religious', 1000000),
 (6, 'IBM', 'Technology', 100000),
 (3, 'Pepsi', 'Beverages', 2000000)]