<a href="https://colab.research.google.com/github/highlandnate2005-ui/MIS2800/blob/main/Highland_IC3_2_WK4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### The next six blocks provide the exact code to run to get your Colab file started to run SQLite3.

In [ ]:
# Type this code exactly as shown to intall the first library needed for SQLite3 to work using SQLite Magic
!pip install --upgrade pandas ipython-sql prettytable==3.10.1

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (3.0.0)
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.5.0)
Requirement already satisfied: prettytable==3.10.1 in /usr/local/lib/python3.12/dist-packages (3.10.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable==3.10.1) (0.5.3)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (2.0.46)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)

In [ ]:
# Install the SQL extension. Remember to type exactly as shown here.
!pip install ipython-sql
print("ipython sql installed")

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (3.10.1)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (2.0.46)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable->ipython-sql) (0.5.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
ipython sql installed

In [ ]:
# Load the SQL magic extension
%load_ext sql

In [ ]:
#this code imports sqlite3 and prints a statement stating it has been imported
import sqlite3
print("sqlite3 imported")

sqlite3 imported

In [ ]:
# This creates a brand-new, empty database file named 'AdCampaigns2026.db'
conn = sqlite3.connect('SuperBowl_Finance.db')
print("SuperBowl_Finance database created")

SuperBowl_Finance database created

In [ ]:
# This line is required so Colab stops acting like Python and acts more like a SQL database terminal
%sql sqlite:///SuperBowl_Finance.db

### Write the SQL code for the next 11 blocks based on the instructions/comments in each block.

---

In [ ]:
#Block 1
# Instructions: Create a table named stock_performance with columns for ticker, price_before_game, price_week_after_game, trading_volume_millions
%%sql
CREATE TABLE IF NOT EXISTS stock_performance (
    ticker TEXT,
    price_before_game REAL,
    price_week_after_game REAL,
    trading_volume_millions INTEGER
) STRICT;

 * sqlite:///SuperBowl_Finance.db
Done.

[]

In [ ]:
# Block 2
# Instructions: Add the below values into the stock_performance table
%%sql
INSERT INTO stock_performance (ticker, price_before_game, price_week_after_game, trading_volume_millions)
VALUES
  ('PEP', 168.50, 172.10, 45),
  ('GOOGL', 142.80, 145.20, 110),
  ('AMZN', 170.20, 178.45, 95),
  ('VZ', 40.10, 39.85, 60),
  ('TSLA', 190.00, 185.20, 150),
  ('TMUS', 197.68, 199.34, 100),
  ('STLA', 22.40, 23.10, 15);

 * sqlite:///SuperBowl_Finance.db
7 rows affected.

[]

In [ ]:
#Block 3
# Instructions: Create a table named Ad_Buys with columns for ticker, company_name, ad_cost_millions, airtime_seconds.
# The ticker should be a TEXT data type and serve as the Primary Key.
# Select an appropriate data_type for the other columns.
# Remember to use the STRICT keyword to ensure the datatype is enforced.
%%sql
CREATE TABLE IF NOT EXISTS Ad_Buys (
    ticker TEXT PRIMARY KEY,
    company_name TEXT,
    ad_cost_millions REAL,
    airtime_seconds INTEGER
) STRICT;

 * sqlite:///SuperBowl_Finance.db
Done.

[]

In [ ]:
#Block 4
# Instructions: Find and fix the error.
%%sql
INSERT INTO Ad_Buys (ticker, company_name, ad_cost_millions, airtime_seconds)
VALUES
  ('PEP', 'PepsiCo', 7.0, 30),
  ('GOOGL', 'Alphabet (Google)', 14.0, 60),
  ('AMZN', 'Amazon', 14.0, 60),
  ('VZ', 'Verizon', 7.0, 30),
  ('TSLA', 'Tesla', 0.0, 0), -- Tesla doesn't buy ads
  ('TMUS', 'Tmobile', 10.0, 30),
  ('STLA', 'Stellantis (Jeep)', 6.5, 30);

 * sqlite:///SuperBowl_Finance.db
7 rows affected.

[]

In [ ]:
#Block 5
# Instructions: Show all the columns from the stock_performance table
%%sql
SELECT * FROM stock_performance;

 * sqlite:///SuperBowl_Finance.db
Done.

[('PEP', 168.5, 172.1, 45),
 ('GOOGL', 142.8, 145.2, 110),
 ('AMZN', 170.2, 178.45, 95),
 ('VZ', 40.1, 39.85, 60),
 ('TSLA', 190.0, 185.2, 150),
 ('TMUS', 197.68, 199.34, 100),
 ('STLA', 22.4, 23.1, 15)]

In [ ]:
#Block 6
# # Instructions: Show the ticker and price before the game
# sort by ticker in alphabetical order from the stock_performance table
%%sql
SELECT ticker, price_before_game FROM stock_performance ORDER BY ticker ASC;

 * sqlite:///SuperBowl_Finance.db
Done.

[('AMZN', 170.2),
 ('GOOGL', 142.8),
 ('PEP', 168.5),
 ('STLA', 22.4),
 ('TMUS', 197.68),
 ('TSLA', 190.0),
 ('VZ', 40.1)]

In [ ]:
#Block 7
# # Instructions: Show all the columns for the brands that have a ticker
# beginning with the letter T in the stock_performance table
%%sql
SELECT * FROM stock_performance WHERE ticker LIKE 'T%';

 * sqlite:///SuperBowl_Finance.db
Done.

[('TSLA', 190.0, 185.2, 150), ('TMUS', 197.68, 199.34, 100)]

In [ ]:
#Block 8
# # Instructions: Show only the ticker and price_after_game
# from the stock_performance table if the price is above 150
%%sql
SELECT ticker, price_week_after_game FROM stock_performance WHERE price_week_after_game > 150;

 * sqlite:///SuperBowl_Finance.db
Done.

[('PEP', 172.1), ('AMZN', 178.45), ('TSLA', 185.2), ('TMUS', 199.34)]

In [ ]:
#Block 9
# Instructions: Show all the columns from the ad_buys table
%%sql
SELECT * FROM Ad_Buys;

 * sqlite:///SuperBowl_Finance.db
Done.

[('PEP', 'PepsiCo', 7.0, 30),
 ('GOOGL', 'Alphabet (Google)', 14.0, 60),
 ('AMZN', 'Amazon', 14.0, 60),
 ('VZ', 'Verizon', 7.0, 30),
 ('TSLA', 'Tesla', 0.0, 0),
 ('TMUS', 'Tmobile', 10.0, 30),
 ('STLA', 'Stellantis (Jeep)', 6.5, 30)]

In [ ]:
#Block 10
# # Instructions: Show the ticker and company_name from the ad_buys table in
# sort in descending order by company_name
%%sql
SELECT ticker, company_name FROM Ad_Buys ORDER BY company_name DESC;

 * sqlite:///SuperBowl_Finance.db
Done.

[('VZ', 'Verizon'),
 ('TMUS', 'Tmobile'),
 ('TSLA', 'Tesla'),
 ('STLA', 'Stellantis (Jeep)'),
 ('PEP', 'PepsiCo'),
 ('AMZN', 'Amazon'),
 ('GOOGL', 'Alphabet (Google)')]

In [ ]:
#Block 11
# # Instructions: Show the ticker and airtime seconds from the ad_buys table
# Filter to show only if the ticker begins with T and and airtime seconds is 0
%%sql
SELECT ticker, airtime_seconds FROM Ad_Buys WHERE ticker LIKE 'T%' AND airtime_seconds = 0;

 * sqlite:///SuperBowl_Finance.db
Done.

[('TSLA', 0)]